@use '../../styles/imports.scss';

.card {
    @apply flex flex-col content-center bg-white rounded-lg shadow-lg;
    width: 60vw;
    height: 40vh;
    text-wrap: break-word;
    animation: slide-in 0.3s ease-out forwards;
    
    @media (min-width: 768px) {
        width: 30vw;
    }
    
    @media (min-width: 1024px) {
        width: 20vw;
    }
    
    @media (min-width: 1280px) {
        width: 15vw;
    }
}

.card-cover {
    @apply rounded-t-lg;
    width: 100%;
    height: 60%;
    object-fit: scale-down;
}

.card-content {
    @apply flex-auto p-4 text-black overflow-hidden;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

@keyframes slide-in {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(20px);
        opacity: 0;
    }
}