@use '../../styles/imports.scss';

.card {
    @apply flex flex-col content-center bg-white rounded-lg shadow-lg;
    width: 15vw;
    height: 40vh;
    text-wrap: break-word;
}

.card-cover {
    @apply rounded-t-lg;
    width: 100%;
    height: 60%;
    object-fit: scale-down;
}

.card-content {
    @apply flex-auto p-4 text-black overflow-hidden;
    min-height: 0;
    display: flex;
    flex-direction: column;
}