@use '../../styles/imports.scss';

.card {
    @apply flex flex-col content-center bg-white rounded-lg shadow-lg;
    max-width: 20vw;
    text-wrap: break-word;
}

.card-cover {
    @apply w-full h-auto rounded-t-lg;
}

.card-content {
    @apply flex-auto p-4 text-black;
}