@use '../../styles/imports.scss';
    .header {
        @apply bg-white shadow-md;
    }

    .header-container {
        @apply w-full px-4 py-4;
    }

    .header-nav {
        @apply flex items-center justify-between;
    }
