@use '../../styles/imports.scss';
    .header-title {
        /* clamp function notes:
        1. minimum size
        2. preferred size (we'd like this so long as it's not larger than maximum size)
        3. maximum size */
        font-size: clamp(1.5rem, 3vw, 2.2rem)
    }
