.main-menu {
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    width: 25vw;
    height: 100vh;
    background-color: var(--color-stone-300);
    box-shadow: 2px 0 8px var(--color-black-800) / 50%;
    z-index: 1000;
    padding: 1rem;

    &--open {
        transform: translateX(0);
    }

    &__header {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }

    &__close {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--color-black-800);
        transition: color 0.2s;

        &:hover {
            color: var(--color-black-200);
        }
    }
}